html{
    font-size: 62.5%;
}

body{
    font-size: 1.8rem;
    font-family: 'Barlow', sans-serif;
    color:hsl(0, 0%, 100%);
}

.page-container{
    min-height: 100vh;
    position: relative;
}


/*****************************************
    Hero Section and Navigation Layout
******************************************/

.hero-section{
    min-height: 100vh;
    background-image: url('./images/desktop/image-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.header{
    display: flex;
    padding: 2.5em;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    height: 4rem;
    width: 100%;
}

.hamburger-menu{
    display: none;
}

.menu-btn{
    background-color: transparent;
    border: none;
    color: inherit;
}

.mobile-menu{
   position: absolute;
   margin-left: auto;
   margin-right: auto;
   top: 5em;
   left: 1.5em; 
   right: 2em;
   text-align: center; 
   background-color:hsl(0, 0%, 100%);
   padding: 0.5em 0.5em 1em;
   z-index: 1;
   animation: drop-down .5s ease-out;
}

@keyframes drop-down{
    0% {
        opacity: 0;
        transform: translateY(-10%);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.mobile-menu::after{
    content: "";
    position: absolute;
    top: -1.25em;
    right: 0;
    border-top: 30px solid transparent;
    border-right: 30px solid hsl(0, 0%, 100%);
    border-bottom: 30px solid transparent;
    border-left: 30px solid transparent;
    z-index: 1;
}

.mobile-navlist{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 1.5em;
    padding: 1em;
}

.mobile-navlist .nav-link{
    color: hsl(210, 4%, 67%);
}

.mobile-navlist  .contact{
    color: hsl(212, 27%, 19%);
    background-color: hsl(51, 100%, 49%);
}

.mobile-navlist  .contact:hover,.mobile-navlist  .contact:focus {
    color: hsl(51, 100%, 49%);
    background-color: hsl(212, 27%, 19%);
}

.hidden{
    display: none;
}

.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3em;
    height: 100%;
    padding: 0;
}

.nav-link{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

.contact{
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    color: hsl(212, 27%, 19%);
    background-color:hsl(0, 0%, 100%);
    border-radius: 30px;
    padding: 1em 1.5em;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.contact:hover{
    color: hsl(0, 0%, 100%);
    background-color: hsl(200, 100%, 72%);
}

h1{
    padding-top: 15rem;
    font-family: 'Fraunces';
    font-size: 4.5rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.arrow-icon{
    padding-top: 5em;
}

/*****************************************
          Content Grid Layout
******************************************/

.content-grid{
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 50%);
}
.grid-item{
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5em;
    gap: 2em;
}

.transform h2, .standout h2{
    font-family: 'Fraunces', sans-serif;
    color:hsl(212, 27%, 19%);
    font-size: 4.5rem;
    line-height: 1.2;
    z-index: 1;
}

.transform p, .standout p{
    color:hsl(232, 10%, 55%);
}

.learn-more{
    font-family: 'Fraunces', sans-serif;
    font-size: 1.5rem;
    color:hsl(212, 27%, 19%);
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    padding: 0 0.3em;
    max-width: max-content;
}

.yellow::after{
    background-color: hsl(51, 94%, 74%);
    content: "";
    display: block;
    padding: 0.3em;
    border-radius: 10px;
    width: 100%;
    position: absolute;
    top: 54%;
    left: 0;
    z-index: -1;
}

.yellow:hover::after{
    background-color: hsl(51, 100%, 49%);
}

.red::after{
    background-color: hsl(7, 100%, 83%);
    content: "";
    display: block;
    padding: 0.3em;
    border-radius: 10px;
    width: 100%;
    position: absolute;
    top: 54%;
    left: 0;
    z-index: -1;
}

.red:hover::after{
   background-color: hsl(7, 90%, 63%); 
}


.transform{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.egg{
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    background-image: url('./images/desktop/image-transform.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center top;
}

.cup{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-image: url('./images/desktop/image-stand-out.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;  
}

.standout{
    grid-row: 2 / 3;
    grid-column: 2 / -1;
}

.graphic-design{
    grid-row: 3 / -1;
    grid-column: 1 / 2;
    background-image: url('./images/desktop/image-graphic-design.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: hsl(167, 40%, 24%);
}

.photo-graphy{
    grid-row: 3 / -1;
    grid-column: 2 / -1;
    background-image: url('./images/desktop/image-photography.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: hsl(198, 62%, 26%);
}

.graphic-design h3, .photo-graphy h3{
    font-family: 'Fraunces', sans-serif;
    font-size: 2.4rem;
}

.graphic-design, .photo-graphy{
    justify-content: flex-end;
    padding: 2.5em 8.9em;
    text-align: center;
}



/*****************************************
        Client Testimonials Layout
******************************************/

.client-testimonials{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 6em;
}

.client-testimonials h2{
    font-family: 'Fraunces', sans-serif;
    font-size: 2.25rem;
    letter-spacing: 5px;
    color:hsl(210, 4%, 67%);
    text-transform: uppercase;
    margin-bottom: 3em;
}

.testimonials{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5em;
}

.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3em;
}

.testimonial > img{
    border-radius: 50%;
    width: 100px;
    height: auto;
}

.testimonial > p{
    color: hsl(232, 10%, 55%);
}

.reviewer-name{
    color: hsl(212, 27%, 19%);
    font-family: 'Fraunces', sans-serif;
}

.reviewer-occupation{
    color: hsl(210, 4%, 67%);
    font-size: 1.5rem;
}


/*****************************************
            Photo Grid Layout
******************************************/

.photo-grid{
    display: flex;
    padding: 1.5em 0 13.5em;
}

.photo{
    min-height: 70vh;
    width: 100%;
}

.milk{
    background-image: url('./images/desktop/image-gallery-milkbottles.jpg');
}

.orange{
    background-image: url('./images/desktop/image-gallery-orange.jpg');
}

.cone{
    background-image: url('./images/desktop/image-gallery-cone.jpg');
}

.sugar{
    background-image: url('./images/desktop/image-gallery-sugarcubes.jpg');
}

.milk, .orange, .cone, .sugar{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


/*****************************************
                Footer Layout
******************************************/

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 5.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(167, 44%, 70%);
}

.footer-logo{
    color: hsl(167, 40%, 24%);
    margin-bottom: 1em;
}

.footer-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.footer-nav .nav-link{
    color: hsl(167, 40%, 24%);
}

.footer-nav .nav-link:hover, .fa-brands:hover{
    color: hsl(0, 0%, 100%);
}

.socials-container{
    display: flex;
    justify-content: center;
    gap: 1.5em;
    margin-top: 2em;
}

.fa-brands{
    color: 	hsl(167, 40%, 24%);
    font-size: 2.4rem;
}


@media screen and (min-width: 1299px) and (max-width: 1441px) {
    .arrow-icon{
        padding-top: 7.8em;
    }
}

/*****************************************
          Mobile Screen Layout
******************************************/

@media screen and (max-width: 568px){
    
    .hero-section{
        background-image: url('./images/mobile/image-header.jpg');
    }

    .header{
        padding: 2.5em 1.5em;
    }

    .navbar{
        display: none;
    }

    .hamburger-menu{
        display: block;
    }
    
    h1{
        font-size: 3.6rem;
    }

    .arrow-icon{
        position: absolute;
        top: 16.3em;
    }
    

    .content-grid{
        display: grid;
        grid-template-rows: repeat(6, auto);
        grid-template-columns: 100%;
    }

    .grid-item{
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3.5em 2em;
        text-align: center;

    }
   
    .transform h2, .standout h2{
        font-size: 3.5rem;
        line-height: 1.2;
    }

    .egg{
        grid-row: 1 / 2;
        grid-column: 1 / 1;
        background-image: url('images/mobile/image-transform.jpg');
    }

    .transform{
        grid-row: 2 / 3;
        grid-column: 1 / 1;
    }
    
    .cup{
        grid-row: 3 / 4;
        grid-column: 1 / 1; 
        background-image: url('images/mobile/image-stand-out.jpg');
    }
    
    .standout{
        grid-row: 4 / 5;
        grid-column: 1 / 1;
    }

    .graphic-design, .photo-graphy{
        min-height: 100vh;
        justify-content: flex-end;
    }

    .graphic-design{
        grid-row: 5 / 6;
        grid-column: 1 / 1;
        background-image: url('./images/mobile/image-graphic-design.jpg')
    }
    
    .photo-graphy{
        grid-row: 6 / 7;
        grid-column: 1 / 1;
        background-image: url('images/mobile/image-photography.jpg');
    }

    .client-testimonials{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2em;
    }

    .client-testimonials h2{
        font-size: 1.6rem;
    }

    .testimonials{
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 100%;
        row-gap: 4em;
    }

    .testimonials img{
        width: 75px;
    }
    .photo-grid{
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(2, 50%);
        padding-bottom: 13.5em;
    }

    .milk{
        background-image: url('./images/mobile/image-gallery-milkbottles.jpg');
    }

    .orange{
        background-image: url('./images/mobile/image-gallery-orange.jpg');
    }

    .cone{
        background-image: url('./images/mobile/image-gallery-cone.jpg');
    }

    .sugar{
        background-image: url('./images/mobile/image-gallery-sugar-cubes.jpg');
    }

    .milk, .orange, .cone, .sugar{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        min-height: 35vh;
    }

}






